<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.springcore.CI.Address" name="addr">
 	<constructor-arg value="Navayard"></constructor-arg>
 	<constructor-arg value="390007" type="int"></constructor-arg>
 </bean>
 
 <bean class="com.springcore.CI.Person" name="person1">
       	<constructor-arg value="253" type="int"></constructor-arg>
       	<constructor-arg value="Arshil"></constructor-arg>
       <constructor-arg ref="addr"></constructor-arg>
       </bean>
</beans>
                           