<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="question1" class="question_9.Question">
        <property name="id" value="1"/>
        <property name="question" value="What is NLP?"/>
        <property name="answer" value="Natural Language Processing"/>
    </bean>

    <bean id="question2" class="question_9.Question">
        <property name="id" value="2"/>
        <property name="question" value="What is Word2Vec?"/>
        <property name="answer" value="Word to Vector"/>
    </bean>

    <bean id="questionMap" class="question_9.QuestionMap">
        <property name="questions">
            <map>
                <entry key="1" value-ref="question1"/>
                <entry key="2" value-ref="question2"/>
            </map>
        </property>
    </bean>
</beans>