<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="department" class="question_12.Department">
        <constructor-arg value="IT"/>
    </bean>

    <bean id="employee" class="question_12.Employee" autowire="constructor">
        <constructor-arg value="Arshil.constructor"/>
    </bean>
</beans>