<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="question_3.Address">
        <constructor-arg value="Vadodara"/>
        <constructor-arg value="Gujarat"/>
        <constructor-arg value="India"/>
    </bean>

    <bean id="employee" class="question_3.Employee">
        <constructor-arg ref="address"/>
    </bean>
</beans>